.institutions {
  position: relative;
  display: flex;
  align-items: center;

  flex-direction: column;
  justify-content: center;
  background-image: url("@/assets/img/InstitutionsBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0px 117px;
  padding-bottom: 300px;
}

.institutionsCard {
  max-width: 709px;
  width: 100%;
  padding: 32px 0px;
  border-radius: 18px;
  background-image: linear-gradient(180deg, #e7bfc1 0%, #94a0e8 100%),
    url("@/assets/img/bgCardInstitutions.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
}

.institutionsLogoLeft {
  position: absolute;
  width: 224.336px;
  height: 187.257px;
  left: -130px;
  top: 70px;
}

.institutionsLogoRight {
  position: absolute;
  width: 316.382px;
  height: 271.539px;
  right: -170px;
  top: 10px;
}

.institutionsTexts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.institutionsTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.institutionsUnderTitle {
  color: #0f0f0f;
}


.institutionsTitle {
  color: #0f0f0f;
  text-align: center;
  font-family: "Helvetica Now Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 118.75% */
  max-width: 440px;
}

.institutionsSubtitle {
  color: #000;
  max-width: 440px;
}

.institutionsBtn {
  display: flex;
  width: 204px;
  height: 60px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 32px;
  background: #0f0f0f;
  gap: 8px;
  color: #97a1e7;
  font-family: "Helvetica Now Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  position: relative;
  border: none;
  cursor: pointer;
}

.institutionsBtn svg path {
  stroke: #97a1e7;
}

.institutionsBtn::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 32px;
  border: 1px solid #0f0f0f;
  pointer-events: none;
  z-index: 0;
}
