.faq {
  padding: 64px 117px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 64px;
  background-image: url("@/assets/img/faqBg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.faqTexts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.faqCards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.faqCard {
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(21.147891998291016px);
  width: 100%;
  max-width: 709px;
  flex-shrink: 0;
  align-items: start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  transition: all 0.5s ease-in-out;
  height: 100%;
}


.faqCard:hover {
  transform: translateY(-5px);
}

.faqCardTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.faqCardTitle {
  color: #fff;
  font-family: "Helvetica Now Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
}

.faqCardArrow {
  display: flex;
  border-radius: 322px;
  background: rgba(0, 0, 0, 0.4);
  padding: 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.4s ease-in-out;
  transform: rotate(0);
}

.faqCardArrow.rotated {
  transform: rotate(-180deg);
}

.faqCardSubtitle {
  color: rgba(255, 255, 255, 0.48);
  font-family: "Helvetica Now Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
  max-width: 577px;
}

.faq-slide-enter-active,
.faq-slide-leave-active {
  transition: all 0.5s ease;
  overflow: hidden;
}
.faq-slide-enter-from,
.faq-slide-leave-to {
  max-height: 0;
  opacity: 0;
}
.faq-slide-enter-to,
.faq-slide-leave-from {
  max-height: 300px;
  opacity: 1;
}
