.hero {
  max-height: 100vh;
  height: 100vh;
  position: relative;
  background-image: url("@/assets/img/heroBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  overflow: hidden;
  gap: 100px;
}

.hero::after {
  content: "";
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, #0f0f0f 49.52%);
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 33;
}

.heroTexts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 32px;
  position: relative;
  z-index: 33;
}

.heroTitle {
  color: #fff;
  text-align: center;
  font-family: "Helvetica Now Display";
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 96px; /* 100% */
  width: 100%;
  max-width: 700px;
}

.heroSubtitle {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: "Helvetica Now Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  max-width: 390px;
  width: 100%;
}

.heroBtn {
  display: flex;
  width: 204px;
  height: 60px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 32px;
  background: linear-gradient(90deg, #eec1be 0%, #94a0e8 100%);
  gap: 8px;
  color: #000;
  font-family: "Helvetica Now Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border: 4px;
  border-color: #000000;
  line-height: 16px; /* 100% */
  position: relative;
}

.heroBottom {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: rgba(255, 255, 255, 0.32);
  text-align: center;
  font-family: "Helvetica Now Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  padding-bottom: 30px;
  position: relative;
  z-index: 50;
}

.heroCards {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 32px;

  position: absolute;
  top: -10px;
  left: 0;
  width: 100vw;
  pointer-events: none;
}

.heroCard {
  position: relative;
  width: 140px;
  height: 150px;
  border-radius: 18px;
  transform-style: preserve-3d;
  transition: transform 1.2s ease, top 1.2s ease, left 1.2s ease,
    opacity 1.2s ease;
  transform-style: preserve-3d;
}

.heroCard.active {
  height: 175px;
  width: 195px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(21.147891998291016px);
}

.heroCardInner {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.heroCardImg,
.heroCardInner {
  transform: rotate(-var(--angle));
}

.heroCardContent {
  position: absolute;
  display: inline-flex;
  padding: 12px 32.002px 12px 16px;
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  gap: 9px;
  bottom: -20px;
  left: -30px;
  opacity: 0;
  transition: opacity 0.7s ease-in-out, transform 0.5s ease-in-out;
}

.heroCardContent.active {
  opacity: 1;
}

.heroCardContIcon {
  width: 19px;
  height: 19px;
}

.heroCardTexts {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.heroCardContTitle {
  color: #fff;
  text-align: center;
  font-family: "Inter Tight";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

.heroCardContSubtitle {
  color: rgba(255, 255, 255, 0.48);
  text-align: center;
  font-family: "Inter Tight";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

@media (max-width: 1285px) {
  .heroCards {
    top: calc(100vh - 150px);
  }

  .heroTitle {
    font-size: 85px;
    width: 600px;
    line-height: 100%;
  }
}

@media (max-width: 1024px) {
  .heroTitle {
    font-size: 70px;
    width: 470px;
    line-height: 100%; /* 100% */
  }
}

@media (max-width: 768px) {
  .heroTitle {
    font-size: 55px;
  }
  .heroTexts {
    gap: 24px;
  }

  .heroBtn {
    width: 204px;
    height: 52px;
  }
}

@media (max-width: 640px) {
  .heroTitle {
    width: 300px;
    font-size: 40px;
  }

  .hero {
    padding: 0px 16px;
  }
}
